{% extends 'layout.html' %}
{% load bootstrap5 %}

{% block content %}
  <div class="mb-3 overflow-y-scroll overflow-x-hidden" style="height: 700px" id="message-container">
    {% for message in messages %}
      <div class="row mb-2" data-user-id="{{ message.user.id}}">
        {% if message.user.id is request.user.id %}
          <div class="col-6 offset-6">
        {% else %}
          <div class="col-6">
        {% endif %}

        <div class="p-2 bg-light">

          <small class="text-muted">{{ message.user }} at {{ message.created_at|date:"d.m.Y H:i:s" }}</small>
          <div class="mb-1 content">
            {{message.content}}
          </div>
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
  <div class="container fixed-bottom mb-2">
    <form method="post">

      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
      {% endbuttons %}
    </form>

  </div>

  <script>
    document.getElementById('message-container').scrollTo({
      top: document.body.scrollHeight,
    });
  </script>

  <script type="text/javascript">
    const centrifuge = new Centrifuge("{{ centrifugo.url }}", {
      token: "{{ centrifugo.token }}"
    });

    centrifuge.on('connecting', function (ctx) {
      console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
    }).on('connected', function (ctx) {
      console.log(`connected over ${ctx.transport}`);
    }).on('disconnected', function (ctx) {
      console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
    }).connect();

    const sub = centrifuge.newSubscription("{{ ws_channel_name }}");

    sub.on('publication', function (ctx) {
      console.log(ctx);
      const messageContainer = document.getElementById("message-container");
      const messageElement = document.querySelector(`[data-user-id="${ ctx.data.user }"]`);
      const clonedElement = messageElement.cloneNode(true);
      clonedElement.querySelector('.content').innerHTML = ctx.data.content;
      messageContainer.appendChild(clonedElement);
    }).subscribe();
  </script>

{% endblock %}
